Package: com.pxx917144686.dyyy
Name: DYYY++
Version: 2.3-0
Architecture: iphoneos-arm64
Description: 澧炲己鐗圖YYY
Maintainer: pxx917144686
Author: pxx917144686
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader